/* common */
body {
    background: white;
    color: black;
    font-family: "MS Trebuchet", Verdana, sans-serif;
    font-size: 10pt;
    margin: 0px;
}

h1 {
    color: black;
    font-size: 150%;
    padding: .2em;
}

input, select {
    border: 0px;
    color: black;
}

img {
    vertical-align: middle;
    border: 0px;
}

ul {
    margin: 0px;
}

p {
    margin: 0em;
    padding: .3em;
}

a:link, a:active, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* specific data tables */
a.paginate_button {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 0px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
    border: 1px solid white;
}

    a.paginate_button:hover {
        font-weight: normal;
    }

a.paginate_active {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: inline-block;
    padding: 1px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
}

a.paginate_active:hover {
    font-weight: normal;
}

a.paginate_button_disabled {
    color: #999999;
    border: 1px solid white;
}

.data_table {
    width: 100%;
}

div.dataTables_wrapper {
    border-radius: 4px;
    -moz-border-radius: 4px -webkit-border-radius: 4px;
    overflow: hidden; /*notice*/
    background-color: #e5e5e5;
    padding: 5px;
    margin: 5px;
}

div.dataTables_length, div.dataTables_filter, div.dataTables_paginate, div.dataTables_info {
    background-color: #e5e5e5;
    padding: 1px;
}

div.dataTables_processing {
    float: left;
    font-weight: bold;
    color: orange;
    padding-left: 10px;
}

.data_table thead .sorting_asc, .data_table thead .sorting_desc, .data_table thead .sorting {
    cursor: pointer;
    *cursor: hand;
}

div.dataTables_paginate, div.dataTables_filter, div.dataTables_length {
    float: left;
}

div.dataTables_length {
    padding-right: 50px;
}

div.dataTables_info {
    font-style: italic;
    float: left;
    padding-left: 20px;
}

table.data_table {
    clear: both;
}

div.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.data_table thead .sorting_asc {
    background-image: url('../Images/sort_asc.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px 18px 5px 15px;
}

.data_table thead .sorting_desc {
    background-image: url('../Images/sort_desc.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px 18px 5px 15px;
}

.data_table thead .sorting {
    background-image: url('../Images/sort_both.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px 18px 5px 15px;
}


html[xmlns] .dataTables_wrapper {
    display: block;
}

* html .dataTables_wrapper {
    height: 1%;
}

th, td {
    color: black;
    font-family: "MS Trebuchet", Verdana, sans-serif;
    font-size: 10pt;
    padding: 5px 10px;
}

.data_table th {
    text-align: left;
    color: #d14836;
    background: white;
}

tr.odd td.row_value, tr.odd td.col_value, tr.odd td.cell_value, tr.odd th.cell_value {
    background: #e5e5e5;
}


tr td.row_value, tr td.col_value, tr td.cell_value, tr th.cell_value {
    background: white;
}

.corner {
    border-radius: 6px;
    -moz-border-radius: 4px -webkit-border-radius: 4px;
    overflow: hidden; /*notice*/
    margin: 12px 5px 5px 5px;
    padding: 5px;
    border: 2px;
    background: white;
}


#loginDialog label, #loginDialog input {
    display: block;
}

#loginDialog input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

#loginDialog fieldset {
    padding: 0;
    border: 0;
}

.menu_title {
    font-weight: bold;
    font-size: 12pt;
    vertical-align: middle;
    color: #d14836;
}

.menu_body {
    background: #e5e5e5;
    color:#dddddd; 
}

.information_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

#viewOutputDialog, #userPreferencesDialog {
    padding: 0px;
    margin: 0px;
}

.list_icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
