/* common */
body { font-family: Verdana, Arial, Helvetica, sans-serif;background: white; font-size:10pt; color:#212121; width:100%; height:100%;}
hr { width: 100%; clear:both;border-right:0;border-left:0; padding: 0 0;}	
table { margin: 0.2em 0 .2em 0; border: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
tr {page-break-inside : avoid;}
thead {display: table-header-group;}
tfoot {display: table-footer-group;}
body,div {margin:0;padding: 0 0;}

a:link, a:active, a:visited { color:#212121; text-decoration:none; font-weight:bold; }
a:hover { color:black; text-decoration:none; font-weight:bold;}

.ui-widget { font-size: .9em;}	
.ui-tabs .ui-tabs-panel { padding: 2px;}

#tabs { margin-top: 1em; }
#wait_image{ display:none; width:20px; height:20px;margin-right:2px;black;vertical-align:middle;}

div  button { margin:4px;}
#button_toolbar {display: inline-block; background:white; border: 0px;}
/* support: IE7 */
*+html #button_toolbar { display: inline; }

#header_div img { vertical-align:middle; margin:2px;}
#buttons_div { display: inline; float: right; margin-top: 10px; margin-right: 4px; }

.summary_div { margin: 4px;}
.page_table_div { margin: 4px;}
.data_table_div { margin: 4px;}
.info_message { font-weight: bold; color: orange; font-size: 10pt; }
.error_message { font-weight: bold; color: red; font-size: 10pt; }

caption {font-weight: bold;}

.datepicker { text-align:right; width:70px; }
.numeric_input { text-align:right; width:70px; }
.text_input { width:70px; }

/* summary table */
.summary_table {margin:5px; background-color:#e5e5e5}
.summary_table td {padding: .4em; background-color: white; }
.summary_title { font-weight: bold; background-color: white;  }

/* specific data tables */
a.paginate_button { background-color: #CCC; color: black; display: inline-block; padding: 2px 6px; margin-left: 2px; cursor: pointer; *cursor: hand; border: 1px solid white; }	
a.paginate_button:hover { font-weight:normal;}
a.paginate_active {	background-color: transparent;	color: black; border: 1px solid black; display: inline-block; padding: 2px 6px; margin-left: 2px; cursor: pointer; *cursor: hand;}
a.paginate_active:hover { font-weight:normal;}
a.paginate_button_disabled {color: #999; border: 1px solid white;}
 
div.dataTables_length, div.dataTables_filter, div.dataTables_paginate, div.dataTables_info { background-color: white; padding: 4px;}
div.dataTables_processing {	float: left; font-weight: bold;	color: orange; padding-left: 20px; margin: 4px;}

.data_table thead .sorting_asc,.data_table thead .sorting_desc,.data_table thead .sorting  {cursor: pointer; *cursor: hand;}

div#information_div { margin: 4px;}
div.dataTables_paginate, div.dataTables_filter, div.dataTables_length { float: left;}
div.dataTables_length { padding-right: 50px;}
div.dataTables_info { font-style: italic; float: left;}
table.data_table {clear: both; }
div.dataTableTop { margin:4px;}
table.data_table, table.page_table { border-radius: 4px; -moz-border-radius: 4px -webkit-border-radius: 4px; padding: 2px; margin:4px;}

div.dataTables_wrapper:after {	content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .dataTables_wrapper { display: block; }
* html .dataTables_wrapper { height: 1%; }

/* tab bottom style */
#tabs .tabs-spacer { float: left; height: 200px; }
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }

/* tab vertical style */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
