<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Seal Report | @ViewData["Title"]</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/lib/prism/prism-tomorrow.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/lib/prism/prism-line-highlight.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version="true">
    <!-- CUSTOM -->
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" asp-append-version="true">
</head>
<body>
    <nav id="bar_top" class="navbar navbar-expand-lg navbar-dark navbar-doc fixed-top">
        <div class="container-fluid">
            <a id="nav_button" href="~/" class="navbar-brand">Seal Report</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a id="default_nav" class="nav-link" href="~/">Getting Started</a></li>
                    <li class="nav-item"><a id="sources_nav" class="nav-link" href="~/Sources">Data Sources</a></li>
                    <li class="nav-item"><a id="reports_nav" class="nav-link" href="~/Reports">Reports</a></li>
                    <li class="nav-item"><a id="server_nav" class="nav-link" href="~/Server">Server</a></li>
                    <li class="nav-item"><a id="ai_nav" class="nav-link" href="~/AI">AI Agents</a></li>
                    <li class="nav-item"><a id="tutorials_nav" class="nav-link" href="~/Tutorials">Tutorials</a></li>
                    <li class="nav-item"><a id="recipes_nav" class="nav-link" href="~/Recipes">Recipes</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" style="margin-right:25px" data-bs-toggle="dropdown" role="button" aria-expanded="false">Web Resources</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item ext-link" href="https://sealreport.org/demo" target="_blank">Live Demonstration</a></li>
                            <li><a class="dropdown-item ext-link" href="https://github.com/ariacom/Seal-Report" target="_blank">GitHub Repository</a></li>
                            <li><a class="dropdown-item ext-link" href="https://sealreport.org/demo/WebInterfaceAPI.html" target="_blank">Seal Web Interface</a></li>
                            <li><a class="dropdown-item ext-link" href="~/Help/Index.html" target="_blank">Seal Library</a></li>
                            <li><a class="dropdown-item ext-link" href="https://sealreport.com" target="_blank">Support &amp; Services</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            <section id="feed" class="section">
                <div class="container" style="padding-bottom: 200px;">
                    <div class="row">
                        <div class="col-md-3 left-align">
                        </div>
                        <div class="col-md-9 left-align">
                            <h2 class="dark-text">Contribute to Seal Report<hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-3 left-align">
                        </div>
                        <div class="col-md-9">
                            <div class="bs-callout bs-callout-success">
                                <h4>Give a Star!</h4>
                                You like <b>Seal Report</b>? The simplest contribution takes one click: star the project on <a href="https://github.com/ariacom/Seal-Report" target="_blank">GitHub</a> to increase its visibility and help the community grow.<br />
                                <iframe src="https://ghbtns.com/github-btn.html?user=ariacom&repo=Seal-Report&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" style="margin-top:8px;"></iframe>
                            </div>
                            <div class="bs-callout bs-callout-danger">
                                <h4>Enhance the documentation and samples</h4>
                                Want to share your experience or to add a new topic ? Something is not clear in the documentation ? Do you have an interesting recipe ? <br />
                                As the site for the documentation is part of the solution, <strong>you are welcome to Pull a Request at <a href="https://github.com/ariacom/Seal-Report" target="_blank">GitHub</a>.</strong>
                            </div>
                            <div class="bs-callout bs-callout-demo">
                                <h4 style="font-style:normal;font-size:21px;font-weight:normal">Sponsor the project</h4>
                                If you are using <b>Seal Report</b> in a business application, please consider to sponsor the product to ensure its maintenance, quality and independence.<br />
                                Please check <a href="~/Index#lineSupport">Support and Sponsor</a>.
                            </div>
                            <div class="bs-callout bs-callout-info">
                                <h4>And more...</h4>
                                You are also welcome to help us in several different areas:
                                <ul style="padding:0px 20px;">
                                    <li>Beta testing.</li>
                                    <li>Libraries of Data Sources and Reports on standard databases.</li>
                                    <li>Additional View templates.</li>
                                    <li>New features development.</li>
                                </ul>
                                Please feel free to contact us at <a href="https://ariacom.com/Contact" target="_blank">Ariacom </a>or use <a href="https://github.com/ariacom/Seal-Report" target="_blank">GitHub</a> if you are interested in contributing to Seal Report.
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
            </section>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
        </div>
    </footer>

    <!--back to top-->
    <a id="back-to-top" href="#" class="btn btn-warning btn-lg back-to-top" role="button" title="Back to top">
        <span>&#916;</span>
    </a>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/prism/prism.min.js" asp-append-version="true"></script>
    <script src="~/lib/prism/prism-csharp.min.js" asp-append-version="true"></script>
    <script src="~/lib/prism/prism-sql.min.js" asp-append-version="true"></script>
    <script src="~/lib/prism/prism-bash.min.js" asp-append-version="true"></script>
    <script src="~/lib/prism/prism-line-highlight.min.js" asp-append-version="true"></script>
    <!-- CUSTOM -->
    <script src="~/scripts/main.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
