<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SealWebServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <httpProtocol>
        <customHeaders>
          <!-- Anti-clickjacking: allow same-origin framing (report viewer) but block cross-origin embedding.
               Remove or change to a Content-Security-Policy frame-ancestors rule if you embed reports on another domain. -->
          <add name="X-Frame-Options" value="SAMEORIGIN" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: dcd6c87c-a399-4aa7-8e17-696016a0e795-->