@using Seal.Model
@{
    Report report = Model;
    ReportView view = report.CurrentView;

    var text = view.GetBoolValue("use_view_name") ? view.Name : view.GetValue("text");
}

@if (!string.IsNullOrEmpty(text))
{
    <div @Raw(view.AddAttribute("class", "text_class")) @Raw(view.AddAttribute("style", "text_css"))>@Raw(text)</div>
}

@if (view.GetBoolValue("show_separator"))
{
    <hr style="display: block;" />
}
