@using Seal.Model
@{
    ResultPage page = Model;
    Report report = page.Report;
    ReportView view = report.View;
}

<div class="row">
    <div class="col-sm-12">
        @Include(view.GetPartialTemplateKey("Model.i2PageTable", page), page)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Include(view.GetPartialTemplateKey("Model.i2Chart", page), page)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Include(view.GetPartialTemplateKey("Model.i2DataTable", page), page)
    </div>
</div>
