@using System.Data
@using Seal.Model
@using Seal.Helpers
@{ Report Report = Model; ReportView View = Report.View; Repository Repository = Report.Repository; }

<!--
<div class='title'>@View.Name</div>
-->
