@using Seal.Model;
@{
    ReportViewTemplate Template = Model;

    //Template Name
    Template.Name = ReportViewTemplate.RestrictionsName;
    Template.Description = "Render selected report restrictions (named View Restrictions) to display model Views dynamically through restriction Triggers or a Refresh button.";

    //If true, the view can be configured for report restrictions
    Template.ForViewRestrictions = true;

    //Parameters for this template
    Template.Parameters.Add(new Parameter() { Name = "restrictions_per_row", DisplayName = "Display: Restrictions per row", NumericValue = 1, Description = "Defines the number of prompted restrictions to be displayed per row (between 1 and 12)." });
    Template.Parameters.Add(new Parameter() { Name = "restrictions_header", DisplayName = "Display: Restrictions header", Description = "Additional HTML added before the restrictions.", Enums = new string[] { "", "<h4>Please enter restriction values</h4>", "<hr>" }, UseOnlyEnumValues = false });
    Template.Parameters.Add(new Parameter() { Name = "restrictions_footer", DisplayName = "Display: Restrictions footer", Description = "Additional HTML added after the restrictions.", Enums = new string[] { "", "<p>Execute this report to view the result expected...</p>","<hr>" }, UseOnlyEnumValues = false });
    Template.Parameters.Add(new Parameter() { Name = "button_text", Value = "Refresh", DisplayName = "Button text", Description = "Text of the button.", Enums = new string[] { "Update", "Refresh", "Execute", "Run" }, UseOnlyEnumValues = false });
    Template.Parameters.Add(new Parameter() { Name = "restrictions_select_size", Value = "auto", DisplayName = "Select size", Description = "Number of items shown in the enumerated list restriction popups.", Enums = new string[] { "auto", "4", "5", "10" }, UseOnlyEnumValues = false });
    Template.Parameters.Add(new Parameter() { Name = "target_report", DisplayName = "Target window for Report", Description = "If not empty and the view is rendered in a Report, the report is fully executed in a new window. Use '<view_id>' to force several executions in the same window.", Enums = new string[] { "", "_blank", "<view_id>", "a window name" }, UseOnlyEnumValues = false });
    Template.Parameters.Add(new Parameter() { Name = "target_dashboard", DisplayName = "Target window for Dashboard", Description = "If not empty and the view is rendered in a Dashboard, the report is fully executed in a new window. Use '<view_id>' to force several executions in the same window.", Enums = new string[] { "", "_blank", "<view_id>", "a window name" }, UseOnlyEnumValues = false });

    //Allowed template parent names
    Template.ParentNames = new List<string>() { "Report", "Tab Page", "Container" };
}