@using Seal.Model
@{
    Report report = Model;
    ReportView view = report.CurrentView;
}

<!--restrictions_div-->
@if (report.GenerateHTMLDisplay)
{
    <form id="form_@view.IdSuffix" execguid="@report.ExecutionGUID" method="post" action="">
        @Include(view.GetPartialTemplateKey("Restrictions.iShared", view), view)
        @if (view.ExecutionPromptedRestrictions.Exists(i => !i.TriggerExecution))
        {
            <div class="text-right container@(report.ExecutionView.GetBoolValue("container_fluid") ? "-fluid" : "")" style="margin-top:-20px">
                <div class="row">
                    <div class="col-sm-12">
                        <button id="button_@view.IdSuffix" class="update_view_restrictions btn btn-success">@report.Translate("Update")</button>
                    </div>
                </div>
            </div>
        }
    </form>
}
