@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Getting Started";
}

<div id="wrapper">
    <div class="container">
        <section id="top" class="section docs-heading"></section>
        <!-- end section -->
        <div class="row">
            <div class="col-md-3">
                <nav class="docs-sidebar" data-spy="affix" data-offset-top="100" data-offset-bottom="200" role="navigation">
                    <ul class="nav">
                        <li><a href="#lineRequirements">Requirements, License</a></li>
                        <li><a href="#lineCompilation">Installation, Compilation</a></li>
                        <li>
                            <a href="#lineOverview">Overview</a>
                            <ul class="nav">
                                <li><a href="#lineOverview_1">Entities and components</a></li>
                                <li><a href="#lineOverview_2">Features per distribution</a></li>
                                <li><a href="#lineOverview_3">Deployment and publication</a></li>
                            </ul>
                        </li>
                        <li><a href="#lineEntities">Main Entities</a></li>
                        <li><a href="#lineComponents">Product Components</a></li>
                        <li><a href="#lineFolders">Repository Folders</a></li>
                        <li><a href="#lineSupport">Support and Sponsor</a></li>
                        <li><a href="#lineCredits">Credits</a></li>
                    </ul>
                    <img src="Images/Seal-Report-Logo.png" class="img-thumbnail img-rounded" style="margin-left:20px;" />
                    <p style="margin-left:20px;">
                        <strong><a href="#feed">Feed the Seal ?</a></strong><br />
                        <iframe src="https://ghbtns.com/github-btn.html?user=ariacom&repo=Seal-Report&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                    </p>
                </nav>
            </div>
            <div class="col-md-9">
                <section class="welcome">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Welcome to Seal Report & ETL<hr></h2>
                            <div class="row">
                                <div class="col-md-12 full intro1" style="padding:10px 20px;margin-top:0px">
                                    <p>
                                        <strong>Seal Report & ETL</strong> offers a complete framework for producing daily reports from any database or any No SQL source, and to perform complex ETL operations.
                                        <br>
                                        The product focuses on easy installation and report design: Once setup, reports can be built and published in a minute.
                                        <br><br>
                                        <strong>Seal Report</strong> is an Open Source tool for the Microsoft .Net Framework entirely written in C#.
                                    </p>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <img src="Images/seal2.jpg" class="img-thumbnail img-rounded" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 full">
                                    <h2>
                                        Main Features
                                    </h2>
                                    <ul>
                                        <li>
                                            <b>Dynamic SQL sources</b>: Use either your SQL or let the Seal engine build dynamically the SQL used to query your database.
                                        </li>
                                        <li>
                                            <b>LINQ queries</b>: Join and query any Data Sources (SQL, Excel, XML, Mongo DB, Olap Cube, HTTP JSon, etc.) with the power of LINQ queries.
                                        </li>
                                        <li>
                                            <b>Native Pivot Tables</b>: Simply drag and drop elements directly in a pivot table (Cross Tab) and display them in your report.
                                        </li>
                                        <li>
                                            <b>HTML 5 Charts</b>: Define and display Chart Series in two mouse clicks (Support of ChartJS, NVD3, Plotly and Gauges libraries).
                                        </li>
                                        <li>
                                            <b>KPI and Widget Views</b>: Create and display your Key Performance Indicators in a single report.
                                        </li>
                                        <li>
                                            <b>Fully Responsive and HTML Rendering using Razor engine</b>: Use the power of HTML5 in the report result (Bootstrap layout, Responsiveness, Tables sorting and filtering). Customize your report presentation in HTML with the Razor engine parsing.
                                        </li>
                                        <li>
                                            <b>Web Report Server</b>: Publish and edit your reports on the web (Support of Windows and Linux OS with .NET 6).
                                        </li>
                                        <li>
                                            <b>Report scheduler</b>: Schedule your report executions and generate results in folders, FTP, SFTP server or send them by emails (integrated with the Windows Tasks Scheduler or available as a service).
                                        </li>
                                        <li>
                                            <b>Drill Down navigation and Sub Reports</b>: Navigate in your report result to drill to a detail or to execute another report.
                                        </li>
                                        <li>
                                            <b>Report Tasks</b>: Define tasks to perform your ETL or batch operations (data load, excel load, file download from FTP or SFTP, zip, backup, data processing, etc.) or to trigger procedures from external assemblies.
                                        </li>
                                        <li>
                                            <b>Low TCO (total cost of ownership)</b>: The product is designed for minimal ongoing maintenance.
                                        </li>
                                    </ul>
                                    <div class="bs-callout bs-callout-danger">
                                        <h4>Live Demonstration</h4>
                                        A live demonstration of the <strong>Web Report Server</strong> is available at <a href="https://sealreport.org/demo" target="_blank">SealReport.org/demo</a>.<br />
                                    </div>
                                    <div class="bs-callout bs-callout-warning">
                                        <h4>Seal Report Forum</h4>
                                        Use the <a href="https://sealreport.org/forum" target="_blank">Seal Report Forum</a> to get free support, information and hints on the product, or read the Wiki for technical documentation.
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                </section>
                <section id="lineRequirements" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Requirements and License <hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12">
                            <strong>For use:</strong>
                            <ul>
                                <li>Windows 7, 2008, Windows 8, 2012, Windows 10 or greater</li>
                                <li>.Net 6.0 (Microsoft Windows Desktop Runtime 6)</li>
                                <li>Database OLE DB, ODBC, MS SQLServer, Mongo DB or MySQL Drivers</li>
                                <li>For the Web Report Server: Internet Information Server with ASP.Net Core Runtime 6 (Hosting Bundle) or greater</li>
                            </ul>
                            <strong>For development:</strong>
                            <ul>
                                <li>Visual Studio 2022</li>
                            </ul>
                            <p>Seal Report is licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License, Version 2.0</a></p>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </section>
                <!-- end section -->
                <section id="lineCompilation" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Installation and Compilation <hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12">

                            <div class="bs-callout bs-callout-info">
                                <h4>Download</h4>
                                Get the last product releases and source codes at <a href="https://github.com/ariacom/Seal-Report/releases" target="_blank">Github</a>.
                            </div>
                            <h2>Installation</h2>
                            <p>
                                Just run the setup executable file to install <strong>Seal Report</strong> on your computer.<br />
                                The setup will install the <b>Report Designer</b>, the <b>Server Manager</b>, the <b>Seal Scheduler Service</b> and the <b>Task Scheduler</b> with a default repository.<br /><br />
                                <b>All executables, libraries and configuration files</b> are installed by default in <i>C:\Program Files\Seal Report</i>.<br />
                                <b>All repository files</b> are installed by default in <i>C:\ProgramData\Seal Report Repository</i>.<br /><br />
                                <strong>Web Report Server Distribution:</strong><br />
                                The sub-folder <i>C:\Program Files\Seal Report\Web</i> and <i>C:\Program Files\Seal Report\NETCore</i> contain the files required to publish the Web Report Server.
                            </p>
                            <div class="bs-callout bs-callout-warning">
                                To publish the <b>Web Report Server</b> on IIS, run the <b>Server Manager</b> and select the menu <srmenu>Configuration->Publish Web Site on IIS...</srmenu> to execute the Web Server Publisher wizard.<br /><br />
                                To publish the <b>Web Report Server</b> on Linux or Azure, <ck>Check dedicated deployment <a href="~/Tutorials.cshtml">tutorials</a></ck>.
                            </div>
                            <h2>Compilation</h2>
                            <p>
                                Using <b>Visual Studio</b>, open the solution file <strong>Seal.sln</strong> located at the root directory.<br>
                                The solution contains the following projects:
                            </p>
                            <ul>
                                <li><b>SealLibrary:</b> Main library shared by all the executables. This library contains the main classes in the <i>Model</i> sub-folder (like Report, MetaTable, Restriction, Task, etc.) plus some helpers.</li>
                                <li><b>SealLibraryWin:</b> Same library as <i>SealLibrary</i> but compiled for the Windows applications: <i>Report Designer</i> and <i>Server Manager</i>.</li>
                                <li><b>SealReportDesigner:</b> Report Designer executable (linked with <i>SealLibraryWin</i>).</li>
                                <li><b>SealServerManager:</b> Server Manager executable (linked with <i>SealLibraryWin</i>).</li>
                                <li><b>SealTaskScheduler:</b> Console application invoked by the Windows Task Scheduler to execute report in batch.<br />This application may also be executed by the <i>Scheduler Service</i>, the <i>Scheduler Worker</i> or the <i>Web Server</i> if the Windows Task Scheduler is not used.</li>
                                <li><b>SealWebServer:</b> Asp.Net application for Web Report Server.</li>
                                <li><b>SealSchedulerService:</b> Seal Report Scheduler executable for the Windows Service.</li>
                                <li><b>SealSchedulerWorker:</b> Seal Report Scheduler executable as a Worker process (for non-Windows OS).</li>
                                <li><b>TestsAndSamples:</b> Contains unitary tests and basic samples.</li>
                                <li><b>SealDocumentation:</b> sealreport.org Web site.</li>
                            </ul>
                            <div class="bs-callout bs-callout-info">
                                <h4>NuGet Packages for SealLibrary</h4>
                                A NuGet package of <b>SealLibrary</b> has been published to ease the Seal Report integration into your own .Net projects: <b>SealReportLibrary.NETCore</b>.
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </section>
                <!-- end section -->
                <section id="lineOverview" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Overview <hr></h2>
                        </div>
                        <div id="lineOverview_1" class="row" style="padding-top:35px">
                            <div class="col-md-12">
                                <h4>Entities and components</h4>
                                <img src="images/overViewSeal.png" alt="" class="img-thumbnail img-rounded">
                            </div>
                            <!-- end col -->
                        </div>
                        <div id="lineOverview_2" class="row" style="padding-top:35px">
                            <div class="col-md-12">
                                <h4>Features by distribution</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Platform</th>
                                            <th>Server Manager</th>
                                            <th>Report Designer</th>
                                            <th>Task Scheduler</th>
                                            <th>Scheduler Service</th>
                                            <th>Scheduler Worker</th>
                                            <th>Web Report Server</th>
                                            <th>Web Report Designer<sup>1</sup></th>
                                            <th>PDF and Excel Converter<sup>2</sup></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>Windows</b></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Linux</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"><sup> 3</sup></td>
                                        </tr>
                                        <tr>
                                            <td><b>Azure (Windows)</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Azure (Linux)</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"></td>
                                            <td><span class="glyphicon glyphicon-ok"><sup> 3</sup></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <b>Remarks:</b>
                                <i>
                                    <ol>
                                        <li>Requires the <a href="https://ariacom.com/SealWebLicense" target="_blank">Web Report Designer</a> commercial component.</li>
                                        <li>Requires the <a href="https://ariacom.com/SealConverterLicense" target="_blank">PDF and Excel Converter</a> commercial component.</li>
                                        <li>Requires a separate <a href="https://ariacom.com/SealConverterInstallation" target="_blank">PDF Server</a> on a Windows computer.</li>
                                    </ol>
                                </i>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                        <div id="lineOverview_3" class="row" style="padding-top:35px">
                            <div class="col-md-12">
                                <h4>Deployment and publication</h4>
                                <img src="images/platforms.png" alt="" class="img-thumbnail img-rounded">
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end row -->
                </section>
                <!-- end section -->

                <section id="lineEntities" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Main Entities: Repository and Reports <hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <p>
                                The <strong>Seal Repository</strong> stores all the entities managed by Seal Report: Data Sources, Devices, Reports.<br>
                                In addition, the repository contains extra folders for the Settings (configuration and dictionary for translations), the Views (used to render report result), the Security (configuration and providers).<br>
                                By default, the repository root folder is located in <i>"C:\ProgramData\Seal Report Repository"</i>.
                            </p>
                            <p>
                                A report is composed of Data Sources, Models, Views and optional Tasks, Outputs and Schedules. The report may also reference Views Templates located in the repository.
                            </p>
                            <ul>
                                <li>
                                    <strong>Data Sources</strong> contain the descriptions of database connections, tables, joins and columns.
                                </li>
                                <li>
                                    <strong>Models</strong> define how to generate the ResultSet (Data Table) and Series from a single SQL Statement.
                                </li>
                                <li>The <strong>Views</strong> are used to generate a HTML document from the <strong>Models</strong> using Razor parsing and rendering.</li>
                                <li>
                                    <strong>Output</strong> and <strong>Schedule</strong> can be defined to automate report generation (e.g. Sending an Email every morning).
                                </li>
                                <li>
                                    <strong>Tasks</strong> may be defined to perform SQL or Script tasks.
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- end section -->
                <section id="lineComponents" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Product Components <hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <p>Seal Report is made of the following componts:</p>
                            <ul>
                                <li>The <strong>Server Manager</strong> (a Windows application) edits repository Data Sources, Devices and is used to perform administrative tasks (checking sources and reports, publishing web site, configuring the server, editing the security, etc.).</li>
                                <li>The <strong>Report Designer</strong> (a Windows application) to create, edit and execute reports.</li>
                                <li>The <strong>Web Report Server</strong> (an ASP.Net application) allows the end-users to edit and execute the reports published from the Web.</li>
                                <li>The <strong>Task Scheduler</strong> (a console application) is invoked by the Windows Task Scheduler to schedule report execution on a Device (folder or email).</li>
                                <li>The <strong>Scheduler Service</strong> (a Windows Service application) to execute the report schedules defined in the repository (folder, file server or email).</li>
                                <li>The <strong>Scheduler Worker</strong> (a .NET Worker Application) to execute the report schedules defined in the repository (folder, file server or email) on a non-Windows OS.</li>
                            </ul>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </section>
                <!-- end section -->
                <section id="lineFolders" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Repository Folders <hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Several sub-folders are located from the Repository Root folder. These folders contain all files necessary to run Seal Report.
                            </p>
                            <ul>
                                <li>
                                    <strong>Assemblies:</strong> additional DLL (*.dll) that can be referenced in all Razor scripts. You can add your own assemblies in this folder and call them from any script compiled and executed during a report execution (e.g. in a Task).
                                </li>
                                <li>
                                    <strong>Databases:</strong> dedicated folder for local database files (e.g. an MS Access file, an Excel file).
                                </li>
                                <li>
                                    <strong>Devices:</strong> the device configurations (*.scfx) used by the report output. 3 types of devices are available: Folder, File Server (FTP, SFTP), Email to send it to a user by SMTP.
                                </li>
                                <li>
                                    <strong>Logs:</strong> the daily log files (*.txt). All events, executions and schedules messages are logged in a daily file (files are auto-purged).
                                </li>
                                <li>
                                    <strong>Reports:</strong> the reports (*.srex), files and sub-folders published by the Web Report Server. The Reports root folder is the parent of all folders, files and reports published.
                                </li>
                                <li>
                                    <strong>Security:</strong> the security defined for the <b>Web Report Server</b> (Security.xml) and a sub-folder containing the security providers (*.cshtml) available.
                                </li>
                                <li>
                                    <strong>Settings:</strong> the Server configuration (Configuration.xml) and the translation files (*.csv).
                                </li>
                                <li>
                                    <strong>Sources:</strong> the data source files (*.scfx) available for the reports. These data sources are shared amongst all the reports.
                                </li>
                                <li>
                                    <strong>Sources\TableTemplates:</strong> table templates (*.cshtml) referenced by No SQL tables defined in LINQ Data Sources.
                                </li>
                                <li>
                                    <strong>Sources\TaskTemplates:</strong> tasks templates (*.cshtml) referenced by Report Tasks defined in reports.
                                </li>
                                <li>
                                    <strong>SpecialFolders\Personal:</strong> dedicated folder to store personal folders for each user. The folder contains reports, files and the user's profile (_profile.xml).
                                </li>
                                <li>
                                    <strong>SpecialFolders\Schedules:</strong> report schedules (*.xml) when the <b>Seal Report Scheduler</b> is used. One file per schedule.
                                </li>
                                <li>
                                    <strong>SubReports:</strong> the sub-reports (*.srex) referenced by an element in a data source. Sub-Reports allow master-detail navigation from a report result.
                                </li>
                                <li>
                                    <strong>Views:</strong> the view templates (*.cshtml) used by the report views with their configuration and their related JavaScript, CSS and image files.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end row -->
                </section>
                <!-- end section -->
                <section id="lineSupport" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Support: Need help ?<hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                The product aims to be self-documented as a description is displayed for every field edited with the Report Designer or the Server Manager.<br>
                                Use the <a href="https://sealreport.org/forum" target="_blank">Seal Report Forum</a> to get free support, information and hints for the product.<br>

                                Feel free to post your questions, comments or answers...
                            </p>
                        </div>
                        <div class="col-md-12 bs-callout bs-callout-info">
                            <h4>Consulting and Components: Get State of the Art Help</h4>
                            If you need professional consulting, trainings or workshops, please contact <a href="https://ariacom.com" target="_blank">Ariacom</a>.<br>
                            In addition to the open source version of the Web Report Server, a <a href="https://ariacom.com/SealWebLicense" target="_blank">Web Report Designer</a> is available to edit and schedule your reports from any Web browser.<br>
                            The company also offers a <a href="https://ariacom.com/SealConverterLicense" target="_blank">PDF and Excel Converter</a> component to generate <b>PDF Documents</b> and native <b>Excel Workbooks</b> directly from your Seal reports.<br>
                        </div>
                        <div class="col-md-12 bs-callout bs-callout-danger">
                            <h4>Pay for a new feature: Become a sponsor forever</h4>
                            If you need a new feature that could be used by the community and be part of the future product release, please contact us at <a href="https://ariacom.com/Contact" target="_blank">Ariacom </a>or using <a href="https://github.com/ariacom/Seal-Report" target="_blank">GitHub</a>.<br>
                            Check out the last requested product features at the dedicated forum: <a href="https://sealreport.org/forum" target="_blank">Feature Request</a>.</p>
                        </div>
                    </div>
                    <!-- end row -->
                </section>
                <!-- end section -->
                <section id="lineCredits" class="section">
                    <div class="row">
                        <div class="col-md-12 left-align">
                            <h2 class="dark-text">Credits <hr></h2>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12">
                            Here is the list of the major Open Source components (Thank you !) used in <strong>Seal Report</strong>:
                            <ul>
                                <li> <a href="https://getbootstrap.com/docs/3.4/" target="_blank">Bootstrap 3</a> for the Web Report Server and report rendering</li>
                                <li> <a href="https://github.com/Antaris/RazorEngine" target="_blank">Razor engine</a> for the rendering and dynamic options</li>
                                <li><a href="http://www.chartjs.org/" target="_blank">ChartJS</a> for the charts JS</li>
                                <li><a href="https://chartjs-plugin-datalabels.netlify.app/" target="_blank">ChartJS Labels Plugin</a> for the charts JS Labels</li>
                                <li><a href="http://nvd3.org/" target="_blank">NVD3</a> for the NVD3 charts</li>
                                <li><a href="https://github.com/plotly/plotly.js/" target="_blank">Plotly</a> for the Plotly charts</li>
                                <li><a href="https://github.com/bernii/gauge.js" target="_blank">Gauge.js</a> for the Gauges</li>
                                <li><a href="https://github.com/jacobslusser/ScintillaNET" target="_blank"> ScintillaNET</a> for the source code editor</li>
                                <li> <a href="http://www.codeproject.com/Articles/189521/Dynamic-Properties-for-PropertyGrid" target="_blank">Dynamic Properties</a> for PropertyGrid helpers</li>
                                <li> <a href="https://github.com/dahall/taskscheduler" target="_blank">Scheduler Managed Wrapper</a> for the report schedules editor</li>
                                <li> <a href="https://datatables.net" target="_blank">Data Tables</a> to enhance HTML tables</li>
                                <li> <a href="https://github.com/Eonasdan/bootstrap-datetimepicker" target="_blank">Datetime Picker</a> component for the report restrictions</li>
                                <li> <a href="https://github.com/silviomoreto/bootstrap-select" target="_blank">Multiple Select</a> component for the report restrictions</li>
                                <li> <a href="https://github.com/robinrodricks/FluentFTP" target="_blank">Fluent FTP</a> library for Output File Server with the FTP protocol</li>
                                <li> <a href="https://github.com/sshnet/SSH.NET/" target="_blank">SS.NET</a> library for Output File Server with the SFTP and SCP protocol</li>
                                <li> <a href="https://github.com/icsharpcode/SharpZipLib" target="_blank">SharpZipLib</a> to Zip report result files</li>
                                <li> <a href="https://github.com/JanKallman/EPPlus" target="_blank">EPPlus</a> to process Excel source files</li>
                                <li> <a href="http://www.jrsoftware.org" target="_blank"> InnoSetup</a> for the setup</li>
                                <li> <a href="http://yetanotherforum.net" target="_blank">Yet Another Forum</a> (YAF) for the forum</li>
                                <li> <a href="https://github.com/EWSoftware/SHFB" target="_blank">Sand Castle Help File Builder</a> for the documentation generation</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end row -->
                </section>
                <!-- end section -->
            </div>
            <!-- // end .col -->
        </div>
        <!-- // end .row -->
    </div>
    <!-- // end container -->
</div>
<!-- end wrapper -->


@section scripts {
    <script>
        $(document).ready(function () {
            $("#default_nav").addClass("active");
        });
    </script>
}
