.numeric_input {
    text-align: right;
}

.foldersview, .reportview, .navbar-right {
    display: none;
}

.foldersview, .reportview, .navbar-right, #output-panel, #message_button {
    transition: opacity 1s linear;
}

/* light buttons */
.lighticon-menu .lightbutton {
    display: inline-block;
    text-align: center;
    background: #f2f2f2;
    padding: .4rem 0 .5rem .1rem;
}

.lightbutton {
    line-height: 1.25; /* default: 1.5 */
    cursor: pointer;
    padding: 0 1px;
    margin: 0;
    min-width: 40px;
    /*color: see theme*/
}

a {
    cursor: pointer;
}

.nopointer {
    cursor: default !important;
}

.lightbutton:hover {
    /*color: see theme*/
}

.lightbutton.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.lightbutton-icon {
    font-size: 1.2em;
}

/* Reduce lightbutton text size */
.lightbutton-text {
    font-size: 0.82em;
}

/* bootstrap override */

.report-name, .output-name {
    color: #000 !important;
    padding: 0px;
    cursor: pointer;
}

    .report-name:hover, .output-name:hover {
        text-decoration: none;
    }

#file-table-view > div > .row {
    margin-right: 0px !important; /* avoid overflow on datatable */
}

#schedule-row > div > .form-group, #schedule-exec > .form-group {
    margin-bottom: 2px;
}

#output-table-body td, #file-table-body td {
    vertical-align: middle;
    padding: 4px;
}

.btn-table {
    font-size: 12px;
}

/* jstree */
.jstree-wholerow-clicked {
    background: #d9d9d9 !important;
}

#elements-tree {
    background: none !important;
}

/* Drag panels */
.drag-panel {
    padding: 1px !important;
    margin: 2px 0px !important;
    background: linear-gradient(#FFF, #d9d9d9);
    overflow: auto;
}

.drop-span {
    margin: 10px;
    position: absolute;
    font-style: italic;
}


.over {
    border: 1px dashed #000;
    opacity: 0.5;
    background: #cccccc;
}

.over2 {
    opacity: 0.5;
    background: orange !important;
}

#wait-dialog {
    top: 80px;
    z-index: 100000 !important;
}

@media (min-width: 768px) {
    #wait-dialog > .modal-dialog {
        width: 300px;
    }
}

.properties-label {
    display: inline;
    padding-top: 8px;
    width: 35%;
    float: left;
}

.properties-value {
    display: inline;
    width: 65%;
    float: left;
}

#action-tableheader {
    width: 160px;
    min-width: 160px;
    text-align: center;
}

@media (max-width: 768px) {
    #action-tableheader {
        width: 120px;
        min-width: 120px;
    }
}

/* Element buttons */
.element-btn-group {
    display: none;
    width: 100%;
}


.numeric {
    text-align: right;
}

/* editor panels */
.editor-panel {
    height: 520px;
}

/* dataTables */
table.dataTable {
    margin: 0px !important;
}

#refresh-nav-item {
    font-size: 20px;
}
/* spin speed */
#refresh-nav-item.fa-spin {
    animation-duration: 1s;
}

#nav_button .fa-spin {
    opacity: 0.6;
    margin-left: 5px;
}

/* sub-menus */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #555;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.not-dotnet-core { display: none !important; }
