body {
    min-height: 400px;
}

@media screen {
    #execution_messages {
        overflow-y: auto;
        min-height: 180px;
    }

    #alert_status .alert {
        overflow-y: auto;
        max-height: 600px;
    }
}

#restrictions_button {
    margin-right: 5px;
}

#execute_button {
    margin-right: 10px;
    margin-left: 4px;
}

#nav_badge {
    margin-top: 4px;
}

.dataTables_empty {
    display: none;
}

.tr-totals {
    font-weight: bold;
}

.tr-sub-totals {
    font-weight: bold;
    font-style: italic;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 20px;
    display: none;
}

.navigation_icon {
    font-size: 10px;
    margin-left: 2px;
}

@media print {
    .navbar {
        display: block;
        border-width: 0 !important;
    }

    .navbar-toggle, .navbar-nav, .navigation_icon, #back-to-top, .no-print, .no-print * {
        display: none !important;
    }
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}